.back-page {
    position: relative;
    top: 402px;
    right: 10px;
    background-color: #ca202e;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
}

.back-page:hover {
    background-color: #fff;
    border-color: #ca202e;
    color: #ca202e;
}
